<h1>Sign in to your account</h1>
<form action="<%= session_url %>%" method="POST">
    <label>Email:
        <input type="text" name="user[email]" value="<%= @user.email %>">
    </label>
    <br>
    <label>Password:
        <input type="password" name="user[password]">
    </label>
    <br>
    <input type="submit" value="Sign in">
</form>