<h1>Create a New Subreddit</h1>
<form action="<%= user_subs_url %>" method="POST">
  <label>Title
    <input type="text" name="sub[title]">
  </label>
  <br>
  <label>Description
    <textarea name="sub[description]"></textarea>
  </label>
  <br>
  <input type="submit" value="Submit">
</form>