/* PHASE 9: Forms */
.post {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 90%;
    margin-left: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: lightgray;
}

.post ul li {
    font-weight: bold;
}

.post div {
    border: 1px solid gray;
    font-weight: initial;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;
}